<!DOCTYPE html>
<html>
  <head>
    <title>Problem Journal</title>
  </head>
  <body>
    <h1 id="home-title-h1">The Problem Journal</h1>
    <h2 id="home-catchphrase-h2">Web app aimed at practicing prolem solving skills</h2>
    <section id="home-steps-section">
      <h3 name="home-steps-h3">1. Record the problem</h3>
      <h3 name="home-steps-h3">2. Write down the solution steps</h3>
      <h3 name="home-steps-h3">3. Practice through retreival</h3>
    </section>
    <a href = "{{ url_for('demo') }}"><button id="home-demo-button">DEMO</button></a>
    <section id="home-registration">
      <h3 id="home-question-h3">Ready to go?</h3>
      <a href = "{{ url_for('login') }}"><button id="home-login-button">log in</button></a>
      <a href = "{{ url_for('signup') }}"><button id="home-signup-button">sign up</button></a>
    </section>
  </body>
</html>