<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form method = "POST" action = "">
        {{form.hidden_tag()}}
        <div>
            {{form.username}}
            <ul class="errors">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
        </div>
        <div>
            {{form.password}}
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
        </div>
        {{form.submit}}
    </form>
    <a href = "{{ url_for('home') }}"><button id="login-home-button">home</button></a>
    <h3 id = "login-signup-h3>">First time journaling? Sign up!</h3>
    <a href = "{{ url_for('signup') }}"><button id="login-signup-button">sign up</button></a>
</body>
</html>