<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method = "POST" action = "">
            {{form.hidden_tag()}}
            <div>
              {{form.problem_title}}
              <ul class="errors">
                {% for error in form.problem_title.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            <div>
              {{form.problem_text}}
              <ul class="errors">
                {% for error in form.problem_text.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            <div>
              {{form.problem_type}}
              <ul class="errors">
                {% for error in form.problem_type.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            <div>
              {{form.problem_define}}
              <ul class="errors">
                {% for error in form.problem_define.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            <div>
              {{form.problem_encode}}
              <ul class="errors">
                {% for error in form.problem_encode.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            <div>
              {{form.problem_solution}}
              <ul class="errors">
                {% for error in form.problem_solution.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            <div>
              {{form.old_folder}}
              <ul class="errors">
                {% for error in form.old_folder.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            <div>
              {{form.new_folder}}
              <ul class="errors">
                {% for error in form.new_folder.errors %}
                    <li>{{ error }}</li>  <!-- Display each error -->
                {% endfor %}
            </ul>
            </div>
            {{form.submit}}
        </form>
        <a href="{{ url_for('dashboard') }}"><button>Dashboard</button></a>
    </body>
</html>