<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
        <form method = "POST" action = "">
            {{form.hidden_tag()}}
            {{form.problem_title}}
            {{form.problem_text}}
            {{form.problem_type}}
            {{form.problem_define}}
            {{form.problem_encode}}
            {{form.problem_solution}}
            {{form.old_folder}}
            {{form.new_folder}}
            {{form.submit}}
        </form>
        <a href="{{ url_for('dashboard') }}"><button>Dashboard</button></a>
    </body>
</html>