<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form method = "POST">
            {{form.hidden_tag()}}
            <div>
                {{form.username}}
                <ul class="errors">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>  <!-- Display each error -->
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{form.password}}
                <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>  <!-- Display each error -->
                    {% endfor %}
                </ul>
            </div>
            {{form.submit}}
        </form>
        <a href = "{{ url_for('home') }}"><button id="signup-home-button">home</button></a>
        <h3 id = "signup-login-h3">Already have an account? Log in instead!</h3>
        <a href = "{{ url_for('login') }}"><button id="signup-login-button">log in</button></a>
    </body>
</html>